@model QuanLyQuanBilliard.Models.EF.TheThanhVien

<div class="modal-body text-center">
    <h4>Bạn có chắc chắn muốn xóa thẻ thành viên @Model.TenKhachHang không?</h4>
</div>
<div class="modal-footer">
    <form id="form-delete" asp-action="DeleteConfirmed" onsubmit="return jQueryAjaxPost(this)">
        <input type="hidden" asp-for="TheThanhVienId" />
        <input type="hidden" asp-for="TenKhachHang" />
        <input type="hidden" asp-for="SoDienThoai" />
        <input type="hidden" asp-for="NgayDangKy" />
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Đóng</button>
            <button type="submit" class="btn btn-danger">Xóa</button>
        </div>
    </form>
</div>
