@model QuanLyQuanBilliard.Models.EF.Ban

<div class="modal-body text-center">
    <h4>Bạn có chắc chắn muốn xóa bàn @Model.TenBan không?</h4>
</div>
<div class="modal-footer">
    <form id="form-delete" asp-action="DeleteConfirmed" onsubmit="return jQueryAjaxPost(this)">
        <input type="hidden" asp-for="BanId" />
        <input type="hidden" asp-for="TenBan" />
        <input type="hidden" asp-for="TrangThai" />
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Đóng</button>
            <button type="submit" class="btn btn-danger">Xóa</button>
        </div>
    </form>
</div>
